{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>
<div class="container jumbotron text-center">
	<h1><strong>Welcome to Gym Management System</strong></h1>
	<p class="font-italic">TIn today’s world, health and fitness play a critical role in our lives. With the concepts of wellness and mindfulness becoming ever more important for consumers, fitness has become a more relevant goal for many people. Therefore, we have taken the mandate to develop a gym management system to meet consumer standards to further improve the day-to-day running of fitness centers or gym clubs. </p>
</div>
{% endblock %}